**Menghubungkan ke Database MongoDB**

In [ ]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

print('Connected to MongoDB')

Connected to MongoDB

**Operasi CRUD Dasar**

In [ ]:
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted: Alice')

# Tugas: Insert beberapa data tambahan
additional_employees = [
    {'name': 'Bob', 'department': 'IT', 'age': 34, 'salary': 6000},
    {'name': 'Charlie', 'department': 'HR', 'age': 22, 'salary': 3500},
    {'name': 'David', 'department': 'IT', 'age': 45, 'salary': 8500},
    {'name': 'Eve', 'department': 'Finance', 'age': 38, 'salary': 5500},
    {'name': 'Frank', 'department': 'HR', 'age': 28, 'salary': 4000},
    {'name': 'Grace', 'department': 'IT', 'age': 24, 'salary': 5000},
    {'name' : 'Lia', 'department' : 'IT', 'age': 20, 'salary': 7500}
]
collection.insert_many(additional_employees)
print('Additional employees inserted')

Data inserted: Alice
Additional employees inserted

**Update Data Dilakukan pembaruan pada data 'Alice' untuk menaikkan gajinya.**

In [ ]:
collection.update_one({'name': 'Alice'}, {'$set': {'salary': 5000}})
print('Data for Alice updated')

Data for Alice updated

**Delete Data Dilakukan penghapusan data untuk karyawan bernama 'Frank'.**

In [ ]:
collection.delete_one({'name': 'Frank'})
print('Data for Frank deleted')

Data for Frank deleted

**Perintah ini pada dasarnya mengosongkan seluruh koleksi dan output Berhasil menghapus 18 dokumen. adalah konfirmasi bahwa 18 dokumen yang ada di koleksi itu telah berhasil dihapus agar tidak terjadi duplikasi.**

In [ ]:
result = collection.delete_many({})
print(f'Berhasil menghap`us {result.deleted_count} dokumen.')

**Query (Read) Data Semua data yang tersisa di koleksi employees ditampilkan.**

In [ ]:
print('\n--- Current Employee Data ---')
for employee in collection.find():
    print(employee)

--- Current Employee Data ---
{'_id': ObjectId('690b6357a26a2708cd0a583d'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 5000}
{'_id': ObjectId('690b6357a26a2708cd0a583e'), 'name': 'Bob', 'department': 'IT', 'age': 34, 'salary': 6000}
{'_id': ObjectId('690b6357a26a2708cd0a583f'), 'name': 'Charlie', 'department': 'HR', 'age': 22, 'salary': 3500}
{'_id': ObjectId('690b6357a26a2708cd0a5840'), 'name': 'David', 'department': 'IT', 'age': 45, 'salary': 8500}
{'_id': ObjectId('690b6357a26a2708cd0a5841'), 'name': 'Eve', 'department': 'Finance', 'age': 38, 'salary': 5500}
{'_id': ObjectId('690b6357a26a2708cd0a5843'), 'name': 'Grace', 'department': 'IT', 'age': 24, 'salary': 5000}
{'_id': ObjectId('690b6357a26a2708cd0a5844'), 'name': 'Lia', 'department': 'IT', 'age': 20, 'salary': 7500}

**Query Lebih Kompleks Menggunakan Aggregation**

In [ ]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
print('\n--- Average Salary per Department ---')
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

--- Average Salary per Department ---
{'_id': 'HR', 'average_salary': 3500.0}
{'_id': 'Finance', 'average_salary': 5250.0}
{'_id': 'IT', 'average_salary': 6750.0}

**Latihan Tambahan
Latihan 4.1: Koleksi products Koleksi baru products dibuat dan diisi dengan 10 data produk.**

In [ ]:
products_collection = db['products']
products_data = [
    {'name': 'Laptop', 'category': 'Elektronik', 'price': 1500},
    {'name': 'Mouse', 'category': 'Elektronik', 'price': 50},
    {'name': 'Keyboard', 'category': 'Elektronik', 'price': 100},
    {'name': 'Buku Tulis', 'category': 'ATK', 'price': 5},
    {'name': 'Pulpen', 'category': 'ATK', 'price': 2},
    {'name': 'Meja', 'category': 'Furnitur', 'price': 200},
    {'name': 'Kursi', 'category': 'Furnitur', 'price': 150},
    {'name': 'Monitor', 'category': 'Elektronik', 'price': 300},
    {'name': 'Kertas A4', 'category': 'ATK', 'price': 10},
    {'name': 'Lampu Belajar', 'category': 'Furnitur', 'price': 25}
]
products_collection.insert_many(products_data)
print('10 products inserted into products collection.')

10 products inserted into products collection.

**Latihan 4.2: Query Produk di Atas Rata-rata Query ini memerlukan dua langkah:
Menghitung harga rata-rata semua produk menggunakan agregasi.
Melakukan find() untuk produk dengan harga (price) lebih besar ($gt) dari rata-rata tersebut.**

In [ ]:
print('\n--- Products Above Average Price ---')
# 1. Hitung rata-rata
avg_pipeline = [{'$group': {'_id': None, 'avg_price': {'$avg': '$price'}}}]
avg_result = list(products_collection.aggregate(avg_pipeline))
avg_price = avg_result[0]['avg_price']
print(f'Average Price: {avg_price}')

# 2. Cari produk di atas rata-rata
query = {'price': {'$gt': avg_price}}
for product in products_collection.find(query):
    print(product)

--- Products Above Average Price ---
Average Price: 229.45
{'_id': ObjectId('6905b288534299b30ae039fb'), 'name': 'Laptop', 'category': 'Electronics', 'price': 1200}
{'_id': ObjectId('6905b288534299b30ae03a00'), 'name': 'Monitor', 'category': 'Electronics', 'price': 300}
{'_id': ObjectId('6905b288534299b30ae03a03'), 'name': 'Printer', 'category': 'Electronics', 'price': 250}
{'_id': ObjectId('690b63c1a26a2708cd0a5845'), 'name': 'Laptop', 'category': 'Elektronik', 'price': 1500}
{'_id': ObjectId('690b63c1a26a2708cd0a584c'), 'name': 'Monitor', 'category': 'Elektronik', 'price': 300}

**Latihan 4.3: Total Produk per Kategori**

In [ ]:
print('\n--- Total Products per Category ---')
pipeline = [
    {'$group': {'_id': '$category', 'total_products': {'$sum': 1}}}
]
for result in products_collection.aggregate(pipeline):
    print(result)

--- Total Products per Category ---
{'_id': 'Electronics', 'total_products': 5}
{'_id': 'Elektronik', 'total_products': 4}
{'_id': 'Stationery', 'total_products': 2}
{'_id': 'ATK', 'total_products': 3}
{'_id': 'Furniture', 'total_products': 3}
{'_id': 'Furnitur', 'total_products': 3}

**Tugas Akhir
Tugas 1: 5 Karyawan Gaji Tertinggi per Departemen Pipeline agregasi yang lebih kompleks digunakan $sort, $group, $project.**

In [ ]:
print('\n--- Top 5 Salaries per Department ---')
pipeline = [
    {'$sort': {'salary': -1}},
    {'$group': {
        '_id': '$department',
        'top_employees': {'$push': {'name': '$name', 'salary': '$salary'}}
    }},
    {'$project': {
        'department': '$_id',
        'top_5_employees': {'$slice': ['$top_employees', 5]}
    }}
]
for result in collection.aggregate(pipeline):
    print(result)

--- Top 5 Salaries per Department ---
{'_id': 'IT', 'department': 'IT', 'top_5_employees': [{'name': 'David', 'salary': 8500}, {'name': 'Lia', 'salary': 7500}, {'name': 'Bob', 'salary': 6000}, {'name': 'Grace', 'salary': 5000}]}
{'_id': 'Finance', 'department': 'Finance', 'top_5_employees': [{'name': 'Eve', 'salary': 5500}, {'name': 'Alice', 'salary': 5000}]}
{'_id': 'HR', 'department': 'HR', 'top_5_employees': [{'name': 'Charlie', 'salary': 3500}]}

**Tugas 2: Hapus Karyawan di Bawah 25 Tahun Operasi delete_many() digunakan dengan kriteria filter usia (age) yang lebih kecil dari ($lt) 25.**

In [ ]:
print('\n--- Deleting Employees Under 25 ---')
query = {'age': {'$lt': 25}}
result = collection.delete_many(query)

print(f'{result.deleted_count} employees deleted.')

# Verifikasi data yang tersisa
print('Remaining employees:')
for employee in collection.find():
    print(f"- {employee['name']} (Age: {employee['age']})")

--- Deleting Employees Under 25 ---
3 employees deleted.
Remaining employees:
- Alice (Age: 29)
- Bob (Age: 34)
- David (Age: 45)
- Eve (Age: 38)

**Tugas 3: Laporan Ringkas (Total Gaji & Rata-rata Umur) Satu pipeline agregasi digunakan untuk menghitung total gaji ($sum) dan rata-rata umur ($avg) yang dikelompokkan per departemen.**

In [ ]:
print('\n--- Department Report (Total Salary & Avg Age) ---')
pipeline = [
    {'$group': {
        '_id': '$department',
        'total_salary': {'$sum': '$salary'},
        'average_age': {'$avg': '$age'}
    }}
]
for result in collection.aggregate(pipeline):
    print(result)

--- Department Report (Total Salary & Avg Age) ---
{'_id': 'Finance', 'total_salary': 10500, 'average_age': 33.5}
{'_id': 'IT', 'total_salary': 14500, 'average_age': 39.5}