**1: Buat DataFrame sederhana di Spark dan eksplorasi beberapa fungsi dasar yang tersedia. Membuat DataFrame sederhana di Spark dan eksplorasi beberapa fungsi dasar yang tersedia.**

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HandsOnPertemuan3').getOrCreate()

data = [('James', 'Sales', 3000),
        ('Michael', 'Sales', 4600),
        ('Robert', 'Sales', 4100),
        ('Lia', 'Finance', 3500)],
columns = ['EmployeeName', 'Department', 'Salary']

df = spark.createDataFrame(data, schema=columns)
df.show()

+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|       James|     Sales|  3000|
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
|         Lia|   Finance|  3500|
+------------+----------+------+

**2: Transformasi Dasar dengan DataFrames. <br>
 Gunakan operasi filter, select, groupBy untuk mengekstrak informasi dari data, serta lakukan agregasi data untuk mendapatkan insight tentang dataset menggunakan perintah seperti mean, max, sum.**

In [5]:
print ("Hasil Select (Untuk melihat data tertentu seperti nama pegawai dan gaji)")
df.select('EmployeeName', 'Salary').show()
print ("Hasil Filter")
df.filter(df['Salary'] > 3000).show()
print ("Hasil GroupBy dan Average (rata-rata)")
df.groupBy('Department').avg('Salary').show()

Hasil Select (Untuk melihat data tertentu seperti nama pegawai dan gaji)
+------------+------+
|EmployeeName|Salary|
+------------+------+
|       James|  3000|
|     Michael|  4600|
|      Robert|  4100|
|         Lia|  3500|
+------------+------+

Hasil Filter
+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
|         Lia|   Finance|  3500|
+------------+----------+------+

Hasil GroupBy dan Average (rata-rata)
+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3900.0|
|   Finance|     3500.0|
+----------+-----------+

**3. Bekerja dengan Tipe Data Kompleks <br> Eksplorasi bagaimana mengolah tipe data kompleks dalam Spark DataFrames.**

In [6]:
print ("Menampilkan data frame dengan bonus salary")
df_bonus = df.withColumn('SalaryBonus', df['Salary'] * 0.1)
df_bonus.show()
print ("Mneampilkan dataframse dengan total kompensasi")
df_total = df_bonus.withColumn('TotalCompensation', df_bonus['Salary'] + df_bonus['SalaryBonus'])
df_total.show()

Menampilkan data frame dengan bonus salary
+------------+----------+------+-----------+
|EmployeeName|Department|Salary|SalaryBonus|
+------------+----------+------+-----------+
|       James|     Sales|  3000|      300.0|
|     Michael|     Sales|  4600|      460.0|
|      Robert|     Sales|  4100|      410.0|
|         Lia|   Finance|  3500|      350.0|
+------------+----------+------+-----------+

Mneampilkan dataframse dengan total kompensasi
+------------+----------+------+-----------+-----------------+
|EmployeeName|Department|Salary|SalaryBonus|TotalCompensation|
+------------+----------+------+-----------+-----------------+
|       James|     Sales|  3000|      300.0|           3300.0|
|     Michael|     Sales|  4600|      460.0|           5060.0|
|      Robert|     Sales|  4100|      410.0|           4510.0|
|         Lia|   Finance|  3500|      350.0|           3850.0|
+------------+----------+------+-----------+-----------------+

**4. Operasi Data Lanjutan <br>
Menggunakan Spark untuk operasi lanjutan seperti window functions, user-defined functions (UDFs), dan mengoptimalkan query.
Mengimplementasikan window function untuk menghitung running totals atau rangkings.**

In [7]:
from pyspark.sql.window import Window
from pyspark.sql import functions as F

windowSpec = Window.partitionBy('Department').orderBy('Salary')
df.withColumn('Rank', F.rank().over(windowSpec)).show()

+------------+----------+------+----+
|EmployeeName|Department|Salary|Rank|
+------------+----------+------+----+
|         Lia|   Finance|  3500|   1|
|       James|     Sales|  3000|   1|
|      Robert|     Sales|  4100|   2|
|     Michael|     Sales|  4600|   3|
+------------+----------+------+----+

**Tugas 5: Studi Kasus Mandiri <br>
Review apa yang telah dipelajari tentang pemrosesan data menggunakan Spark dan eksplorasi teknik lebih lanjut untuk mengoptimalkan pemrosesan pada data.**

In [8]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Eksplorasi

In [7]:
# Mengimpor library yang dibutuhkan
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

# Membuat SparkSession
spark = SparkSession.builder.appName("LaporanAnalisisArtis").getOrCreate()

# Path ke file di Google Drive (sesuaikan jika perlu)
file_path = '/content/drive/MyDrive/Datasets/Most Streamed Spotify Songs 2024.csv'

# Memuat data
artists_df = spark.read.csv(file_path, header=True, inferSchema=True)

# Menampilkan skema untuk memahami struktur data
print("Schema Dataset:")
artists_df.printSchema()

# Menampilkan 5 baris pertama data
print("\nContoh Data:")
artists_df.show(15, truncate=False)

Schema Dataset:
root
 |-- Track: string (nullable = true)
 |-- Album Name: string (nullable = true)
 |-- Artist: string (nullable = true)
 |-- Release Date: string (nullable = true)
 |-- ISRC: string (nullable = true)
 |-- All Time Rank: string (nullable = true)
 |-- Track Score: double (nullable = true)
 |-- Spotify Streams: string (nullable = true)
 |-- Spotify Playlist Count: string (nullable = true)
 |-- Spotify Playlist Reach: string (nullable = true)
 |-- Spotify Popularity: integer (nullable = true)
 |-- YouTube Views: string (nullable = true)
 |-- YouTube Likes: string (nullable = true)
 |-- TikTok Posts: string (nullable = true)
 |-- TikTok Likes: string (nullable = true)
 |-- TikTok Views: string (nullable = true)
 |-- YouTube Playlist Reach: string (nullable = true)
 |-- Apple Music Playlist Count: integer (nullable = true)
 |-- AirPlay Spins: string (nullable = true)
 |-- SiriusXM Spins: string (nullable = true)
 |-- Deezer Playlist Count: integer (nullable = true)
 |-- Deezer Playlist Reach: string (nullable = true)
 |-- Amazon Playlist Count: integer (nullable = true)
 |-- Pandora Streams: string (nullable = true)
 |-- Pandora Track Stations: string (nullable = true)
 |-- Soundcloud Streams: string (nullable = true)
 |-- Shazam Counts: string (nullable = true)
 |-- TIDAL Popularity: string (nullable = true)
 |-- Explicit Track: integer (nullable = true)


Contoh Data:
+-------------------------------------+--------------------------------------------+--------------+------------+------------+-------------+-----------+---------------+----------------------+----------------------+------------------+-------------+-------------+------------+-------------+--------------+----------------------+--------------------------+-------------+--------------+---------------------+---------------------+---------------------+---------------+----------------------+------------------+-------------+----------------+--------------+
|Track                                |Album Name                                  |Artist        |Release Date|ISRC        |All Time Rank|Track Score|Spotify Streams|Spotify Playlist Count|Spotify Playlist Reach|Spotify Popularity|YouTube Views|YouTube Likes|TikTok Posts|TikTok Likes |TikTok Views  |YouTube Playlist Reach|Apple Music Playlist Count|AirPlay Spins|SiriusXM Spins|Deezer Playlist Count|Deezer Playlist Reach|Amazon Playlist Count|Pandora Streams|Pandora Track Stations|Soundcloud Streams|Shazam Counts|TIDAL Popularity|Explicit Track|
+-------------------------------------+--------------------------------------------+--------------+------------+------------+-------------+-----------+---------------+----------------------+----------------------+------------------+-------------+-------------+------------+-------------+--------------+----------------------+--------------------------+-------------+--------------+---------------------+---------------------+---------------------+---------------+----------------------+------------------+-------------+----------------+--------------+
|MILLION DOLLAR BABY                  |Million Dollar Baby - Single                |Tommy Richman |4/26/2024   |QM24S2402528|1            |725.4      |390,470,936    |30,716                |196,631,588           |92                |84,274,754   |1,713,126    |5,767,700   |651,565,900  |5,332,281,936 |150,597,040           |210                       |40,975       |684           |62                   |17,598,718           |114                  |18,004,655     |22,931                |4,818,457         |2,669,262    |NULL            |0             |
|Not Like Us                          |Not Like Us                                 |Kendrick Lamar|5/4/2024    |USUG12400910|2            |545.9      |323,703,884    |28,113                |174,597,137           |92                |116,347,040  |3,486,739    |674,700     |35,223,547   |208,339,025   |156,380,351           |188                       |40,778       |3             |67                   |10,422,430           |111                  |7,780,028      |28,444                |6,623,075         |1,118,279    |NULL            |1             |
|i like the way you kiss me           |I like the way you kiss me                  |Artemas       |3/19/2024   |QZJ842400387|3            |538.4      |601,309,283    |54,331                |211,607,669           |92                |122,599,116  |2,228,730    |3,025,400   |275,154,237  |3,369,120,610 |373,784,955           |190                       |74,333       |536           |136                  |36,321,847           |172                  |5,022,621      |5,639                 |7,208,651         |5,285,340    |NULL            |0             |
|Flowers                              |Flowers - Single                            |Miley Cyrus   |1/12/2023   |USSM12209777|4            |444.9      |2,031,280,633  |269,802               |136,569,078           |85                |1,096,100,899|10,629,796   |7,189,811   |1,078,757,968|14,603,725,994|3,351,188,582         |394                       |1,474,799    |2,182         |264                  |24,684,248           |210                  |190,260,277    |203,384               |NULL              |11,822,942   |NULL            |0             |
|Houdini                              |Houdini                                     |Eminem        |5/31/2024   |USUG12403398|5            |423.3      |107,034,922    |7,223                 |151,469,874           |88                |77,373,957   |3,670,188    |16,400      |NULL         |NULL          |112,763,851           |182                       |12,185       |1             |82                   |17,660,624           |105                  |4,493,884      |7,006                 |207,179           |457,017      |NULL            |1             |
|Lovin On Me                          |Lovin On Me                                 |Jack Harlow   |11/10/2023  |USAT22311371|6            |410.1      |670,665,438    |105,892               |175,421,034           |83                |131,148,091  |1,392,593    |4,202,367   |214,943,489  |2,938,686,633 |2,867,222,632         |138                       |522,042      |4,654         |86                   |17,167,254           |152                  |138,529,362    |50,982                |9,438,601         |4,517,131    |NULL            |1             |
|Beautiful Things                     |Beautiful Things                            |Benson Boone  |1/18/2024   |USWB12307016|7            |407.2      |900,158,751    |73,118                |201,585,714           |86                |308,723,145  |4,120,760    |NULL        |29,584,940   |534,915,313   |4,601,579,812         |280                       |383,478      |429           |168                  |48,197,850           |154                  |65,447,476     |57,372                |NULL              |9,990,302    |NULL            |0             |
|Gata Only                            |Gata Only                                   |FloyyMenor    |2/2/2024    |QZL382406049|8            |375.8      |675,079,153    |40,094                |211,236,940           |92                |228,382,568  |1,439,495    |3,500,000   |338,546,668  |3,804,584,163 |2,112,581,620         |160                       |17,221       |30            |87                   |33,245,595           |53                   |3,372,428      |5,762                 |NULL              |6,063,523    |NULL            |1             |
|Danza Kuduro - Cover                 |��������������������� - ������������������ -|MUSIC LAB JPN |6/9/2024    |TCJPA2463708|9            |355.7      |1,653,018,119  |1                     |15                    |NULL              |NULL         |NULL         |NULL        |NULL         |NULL          |NULL                  |NULL                      |NULL         |NULL          |NULL                 |NULL                 |NULL                 |NULL           |NULL                  |NULL              |NULL         |NULL            |1             |
|BAND4BAND (feat. Lil Baby)           |BAND4BAND (feat. Lil Baby)                  |Central Cee   |5/23/2024   |USSM12404354|10           |330.6      |90,676,573     |10,400                |184,199,419           |86                |32,735,244   |988,682      |325,800     |121,574,500  |974,656,200   |174,706,874           |191                       |3,823        |117           |78                   |10,800,098           |92                   |1,005,626      |842                   |3,679,709         |666,302      |NULL            |1             |
|I Had Some Help (feat. Morgan Wallen)|I Had Some Help                             |Post Malone   |5/10/2024   |USUM72404990|11           |322.1      |250,080,413    |16,219                |168,766,158           |91                |32,229,063   |550,191      |NULL        |184,500      |2,100,000     |327,130,768           |157                       |62,312       |71            |60                   |12,009,073           |114                  |23,155,471     |21,172                |1,594,605         |963,413      |NULL            |1             |
|The Door                             |The Door                                    |Teddy Swims   |6/14/2024   |USWB12402486|12           |320.2      |111,155,129    |2                     |263,767               |NULL              |NULL         |NULL         |NULL        |NULL         |NULL          |NULL                  |NULL                      |NULL         |NULL          |NULL                 |NULL                 |2                    |NULL           |NULL                  |NULL              |NULL         |NULL            |1             |
|LUNCH                                |HIT ME HARD AND SOFT                        |Billie Eilish |5/17/2024   |USUM72401991|13           |316.3      |221,636,195    |13,800                |197,280,692           |92                |40,022,524   |1,307,290    |195,300     |45,889,000   |360,017,000   |342,107,131           |244                       |41,344       |45            |138                  |38,243,636           |163                  |1,354,692      |1,219                 |1,313,357         |450,344      |NULL            |0             |
|Like That                            |WE DON'T TRUST YOU                          |Future        |3/22/2024   |USSM12402041|14           |308.2      |355,186,436    |43,025                |108,168,634           |88                |98,081,493   |1,456,177    |NULL        |NULL         |NULL          |174,491,415           |153                       |90,237       |3             |55                   |3,001,826            |109                  |26,252,264     |18,364                |12,038,034        |1,963,314    |NULL            |1             |
|bathroom floor                       |bathroom floor                              |Kids With Buns|10/7/2022   |NLC242100307|15           |301.6      |297,185        |277                   |24,445                |12                |6,736,502,312|16,785,489   |3           |1,088        |22,234        |NULL                  |1                         |1,057        |NULL          |NULL                 |NULL                 |NULL                 |NULL           |NULL                  |NULL              |3,288        |NULL            |0             |
+-------------------------------------+--------------------------------------------+--------------+------------+------------+-------------+-----------+---------------+----------------------+----------------------+------------------+-------------+-------------+------------+-------------+--------------+----------------------+--------------------------+-------------+--------------+---------------------+---------------------+---------------------+---------------+----------------------+------------------+-------------+----------------+--------------+
only showing top 15 rows

**Pembersihan dan Transformasi Data**

In [28]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import LongType

spark = SparkSession.builder.appName("AnalisisLaguGlobal").getOrCreate()
df = spark.read.csv("/content/drive/MyDrive/Datasets/Most Streamed Spotify Songs 2024.csv", header=True, escape="\"", encoding="UTF-8")

# 1. Definisikan semua kolom yang perlu dibersihkan (dari string ke angka)
cols_to_clean_and_cast = [
    "Spotify Streams", "Spotify Playlist Count", "Spotify Playlist Reach",
    "YouTube Views", "YouTube Likes", "TikTok Posts", "TikTok Likes", "TikTok Views",
    "YouTube Playlist Reach", "AirPlay Spins", "SiriusXM Spins", "Deezer Playlist Reach",
    "Pandora Streams", "Pandora Track Stations", "Soundcloud Streams", "Shazam Counts"
]

# 2. Lakukan loop untuk membersihkan setiap kolom
df_cleaned = df
for col_name in cols_to_clean_and_cast:
    df_cleaned = df_cleaned.withColumn(col_name, F.regexp_replace(F.col(col_name), ",", "").cast(LongType()))

# 3. Ubah kolom 'Release Date' menjadi tipe data tanggal yang benar
df_cleaned = df_cleaned.withColumn("ReleaseDate_dt", F.to_date(F.col("Release Date"), "M/d/yyyy"))

# 4. Tampilkan skema baru untuk verifikasi
print("Schema Setelah Pembersihan dan Transformasi:")
df_cleaned.printSchema()

Schema Setelah Pembersihan dan Transformasi:
root
 |-- Track: string (nullable = true)
 |-- Album Name: string (nullable = true)
 |-- Artist: string (nullable = true)
 |-- Release Date: string (nullable = true)
 |-- ISRC: string (nullable = true)
 |-- All Time Rank: string (nullable = true)
 |-- Track Score: string (nullable = true)
 |-- Spotify Streams: long (nullable = true)
 |-- Spotify Playlist Count: long (nullable = true)
 |-- Spotify Playlist Reach: long (nullable = true)
 |-- Spotify Popularity: string (nullable = true)
 |-- YouTube Views: long (nullable = true)
 |-- YouTube Likes: long (nullable = true)
 |-- TikTok Posts: long (nullable = true)
 |-- TikTok Likes: long (nullable = true)
 |-- TikTok Views: long (nullable = true)
 |-- YouTube Playlist Reach: long (nullable = true)
 |-- Apple Music Playlist Count: string (nullable = true)
 |-- AirPlay Spins: long (nullable = true)
 |-- SiriusXM Spins: long (nullable = true)
 |-- Deezer Playlist Count: string (nullable = true)
 |-- Deezer Playlist Reach: long (nullable = true)
 |-- Amazon Playlist Count: string (nullable = true)
 |-- Pandora Streams: long (nullable = true)
 |-- Pandora Track Stations: long (nullable = true)
 |-- Soundcloud Streams: long (nullable = true)
 |-- Shazam Counts: long (nullable = true)
 |-- TIDAL Popularity: string (nullable = true)
 |-- Explicit Track: string (nullable = true)
 |-- ReleaseDate_dt: date (nullable = true)

**Analisis 1: Lagu dengan Jangkauan Digital Terbesar**

In [24]:
df_with_total_reach = df_cleaned.withColumn("TotalReach",
    F.coalesce(F.col("Spotify Streams"), F.lit(0)) +
    F.coalesce(F.col("YouTube Views"), F.lit(0)) +
    F.coalesce(F.col("TikTok Views"), F.lit(0))
)

print("\n--- Analisis 1: Top 10 Lagu dengan Jangkauan Digital Terbesar ---")
top_reach_songs = df_with_total_reach.select("Track", "Artist", "TotalReach") \
                                     .orderBy(F.col("TotalReach").desc())
top_reach_songs.show(10, truncate=False)

--- Analisis 1: Top 10 Lagu dengan Jangkauan Digital Terbesar ---
+-------------------------+------------------------+------------+
|Track                    |Artist                  |TotalReach  |
+-------------------------+------------------------+------------+
|Monkeys Spinning Monkeys |Kevin MacLeod           |233255246106|
|Love You So              |The King Khan & BBQ Show|214867886547|
|Oh No                    |Kreepa                  |61146825689 |
|Funny Song               |Cavendish Music         |38391303771 |
|Aesthetic                |Tollan Kim              |33879624512 |
|Spongebob                |Dante9k                 |33360300982 |
|She Share Story          |Shayne Orok             |33202142804 |
|STAY (with Justin Bieber)|The Kid LAROI           |28076450960 |
|Pieces                   |Danilo Stankovic        |28038445729 |
|love nwantiti (ah ah ah) |CKay                    |25918838114 |
+-------------------------+------------------------+------------+
only showing top 10 rows

**Analisis 2: Artis Paling Dominan di Tahun 2024.**

In [25]:
from pyspark.sql.window import Window
df_2024 = df_cleaned.filter(F.year(F.col("ReleaseDate_dt")) == 2024)

print("\n--- Analisis 2: Top 10 Artis Paling Dominan di 2024 (Berdasarkan Spotify Streams) ---")
top_artists_2024 = df_2024.groupBy("Artist") \
                          .agg(F.sum("Spotify Streams").alias("TotalSpotifyStreams")) \
                          .orderBy(F.col("TotalSpotifyStreams").desc())
top_artists_2024.show(10, truncate=False)

--- Analisis 2: Top 10 Artis Paling Dominan di 2024 (Berdasarkan Spotify Streams) ---
+-----------------+-------------------+
|Artist           |TotalSpotifyStreams|
+-----------------+-------------------+
|MUSIC LAB JPN    |6619744370         |
|Linkin Park      |6195495729         |
|Taylor Swift     |3545613606         |
|Ariana Grande    |2056932352         |
|ati2x06          |1812548791         |
|Sabrina Carpenter|1681170228         |
|LOVE BGM JPN     |1645079292         |
|21 Savage        |1475807584         |
|Future           |1452788578         |
|DJ Laxman        |1389772733         |
+-----------------+-------------------+
only showing top 10 rows

**Analisis 3: Lagu Viral di TikTok vs. Spotify (Mencari Anomali)**

In [27]:
window_tiktok = Window.orderBy(F.col("TikTok Views").desc())
window_spotify = Window.orderBy(F.col("Spotify Streams").desc())

df_ranked = df_cleaned.withColumn("TikTokRank", F.rank().over(window_tiktok)) \
                      .withColumn("SpotifyRank", F.rank().over(window_spotify))

df_anomaly = df_ranked.withColumn("RankDifference", F.col("SpotifyRank") - F.col("TikTokRank")) \
                      .filter(F.col("TikTok Views").isNotNull() & F.col("Spotify Streams").isNotNull()) \
                      .orderBy(F.col("RankDifference").desc())

print("\n--- Analisis 3: Lagu yang Jauh Lebih Populer di TikTok Dibanding Spotify ---")
df_anomaly.select("Track", "Artist", "TikTokRank", "SpotifyRank", "RankDifference").show(10, truncate=False)

--- Analisis 3: Lagu yang Jauh Lebih Populer di TikTok Dibanding Spotify ---
+----------------------------------------+--------------------------------+----------+-----------+--------------+
|Track                                   |Artist                          |TikTokRank|SpotifyRank|RankDifference|
+----------------------------------------+--------------------------------+----------+-----------+--------------+
|Sunny Day                               |Matteo Rossanese                |28        |4456       |4428          |
|Very Cute Melody by Marimba Tone (39813)|mitsu sound                     |62        |4483       |4421          |
|Original som fan                        |OP                              |37        |4413       |4376          |
|Spongebob                               |Dante9k                         |6         |4316       |4310          |
|Chill Vibes                             |Tollan Kim                      |31        |4308       |4277          |
|������������������                      |���������������(���������������)|90        |4333       |4243          |
|Breakfast Challenge Song (Slowly)       |SPENCE                          |96        |4320       |4224          |
|Cute                                    |Aurel Surya Lie                 |149       |4373       |4224          |
|Pieces                                  |Danilo Stankovic                |8         |4201       |4193          |
|Aesthetic                               |Tollan Kim                      |5         |4194       |4189          |
+----------------------------------------+--------------------------------+----------+-----------+--------------+
only showing top 10 rows